<!DOCTYPE html>
<html>
<head>
    <title>OPEN MCT</title>
</head>
<body>
<h1>OPEN MCT Power Systems Table</h1>
<h3 id="timeRange"></h3>
<table id="powerSystemsTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>TimeStamp</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</body>
<link rel='stylesheet' href='/stylesheets/index.css' />
<script src="/javascripts/testSockets.js"></script>
</html>
